__pycache__/
*.pyc
.env
data/*.db
data/generated/*
!data/generated/.gitkeep
venv/
.venv/
*.egg-info/
node_modules/
package-lock.json
app/assets/template_uploads/*
!app/assets/template_uploads/.gitkeep
app/assets/font_uploads/*
!app/assets/font_uploads/.gitkeep
